:sass
  body
    margin: 0 auto
    width: 50%
    @media only screen and (max-width: 1000px)
      width: 70%
    @media only screen and (max-width: 600px)
      width: 90%
      a.button
        padding: 0px 10px
  pre > code
    white-space: pre !important
  code
    white-space: normal !important
%link{:rel => :stylesheet, :type => :"text/css", href: "//cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css"}
%title Have a drink of Rum
%meta{name: 'description', content: 'Understanding how the rum framework provides a simple interface to create simple web apps'}

%h1
  Diving into the Rum
  Framework
%a.button{href: '/'} Home
%a.button{href: '//github.com/AlessandroMinali/rye', target: '_blank'}  Repo
%a.button{href: '/about'}  About
%a.button{href: '/help'}  Help?
= yield
- unless root? || about?
  %a.button{href: '/'} Home
  %a.button{href: '//github.com/AlessandroMinali/rye', target: '_blank'}  Repo
  %a.button{href: '/about'}  About
  %a.button{href: '/help'}  Help?
%hr
%h4
  Questions? Free free to
  %a{href: "https://packmule.ca/contact/" } contact me anytime
  %span :)
