:css
  .six.button {
    min-height: 150px;
    padding: 30px 50px;
    margin-bottom: 0px;
    white-space: normal;
  }
  @media only screen and (max-width: 1200px) {
    .six.button {
      padding: 30px 30px;
    }
  }
  @media only screen and (max-width: 800px) {
    .six.button {
      padding: 30px 10px;
    }
  }

%h3 Let's Learn
%p 
  :markdown
    <a href="https://github.com/chneukirchen/rum" target="_blank">Rum</a> is a tiny framework written in pure <a href="https://www.ruby-lang.org/en/" target="_blank">ruby</a> with only one dependency, <a href="http://rack.github.io" target="_blank">rack</a>. This provides a unqiue opportunity to discover how a framework can be built as a rack app. If you have used ruby on the web you would have either heard of <a href="https://rubyonrails.org" target="_blank">Ruby on Rails</a> and <a href="http://www.sinatrarb.com" target="_blank">Sinatra</a> which are themselves glorified rack apps!

%p
  At 
  %b less than 150
  lines of code, rum is a prefect starting place to jump in, dig around and build up our own personal framework.
  %br
  %small
    psst. this whole site was made on
    %em my
    custom version of rum, that I'll share with you at the end of your journey here.

%h5 Are you ready?

.row
  %a.six.column.button{href: '/lesson/1'}
    i. Learn How Rum Works
  %a.six.column.button{href: '/lesson/2'}
    ii. Explore a Complex Rum Example
  %a.six.column.button{href: '/lesson/3'}
    iii. Make Rum Better (Add Templates)
  %a.six.column.button{href: '/lesson/4'}
    iv. Real World Example and Deploy